<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33394163851-6dla342p99efr76hefjtro8fpf71mvpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33394163851-6dla342p99efr76hefjtro8fpf71mvpu</string>
	<key>API_KEY</key>
	<string>AIzaSyC4vtAWi7CLdTQJg5b0Q__T2IdkmErvKwA</string>
	<key>GCM_SENDER_ID</key>
	<string>33394163851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ricardoG.MusicApp</string>
	<key>PROJECT_ID</key>
	<string>musicapp-baff7</string>
	<key>STORAGE_BUCKET</key>
	<string>musicapp-baff7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33394163851:ios:4ce6f19bb4db0e3485948e</string>
</dict>
</plist>